body {
  margin: 0;
  background-color: #EFF6F7;
}

/* Navigationsbar */
.topnav {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(-75deg, #A3BFC9, #ADCBD6);
  text-align: center;
  overflow: hidden;
}

.topnav li {
  float: left;
  list-style: none;
}

.topnav li a {
  color: black;
  display: block;
  margin: 30px 35px 30px 35px;
  align-content: center;
  justify-content: center;
  font-size: 20px;
  font-family: monospace;
}

.topnav li:hover {
  background-color: #EFF6F7;
  opacity: 0.7;
}

@media screen and (max-width: 600px) {
  .topnav li {
    float: none;
  }
}

/* Eigentliches Spiel */
.border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px none #A3BFC9;
  border-radius: 30px;
  height: 500px;
  width: 500px;
  background-color: #bedbe6;
}

/* Button Style & Position */
.buttonstyle {
  border: none;
  border-radius: 30px;
  font-size: 18px;
  padding: 15px 20px;
  font-weight: bold;
  color: black;
  background-color: #94c0d4;
  text-align: center;
}

#spielbutton {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#spielbutton:hover {
  background-color: #76a0b3;
}

#quitbutton {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#quitbutton:hover {
  background-color: #76a0b3;
}

/* Label Style & Position */
.labelstyletext {
  border: none;
  border-radius: 30px;
  font-size: 14px;
  padding: 15px 20px;
  font-weight: bold;
  color: black;
  background-color: #EFF6F7;
  text-align: center;
}

#currentnumberlabeltext {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
}

#faktorlabeltext {
  position: absolute;
  top: 50%;
  left: 29%;
  transform: translate(-50%, -50%);
}

#zwischenstandlabeltext {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}

#scorelabeltext {
  position: absolute;
  top: 65%;
  left: 33%;
  transform: translate(-50%, -50%);
}

/* Span Style & Position */
.labelstyle {
  border: none;
  border-radius: 30px;
  font-size: 14px;
  padding: 15px 20px;
  font-weight: bold;
  color: black;
  background-color: #87B2B5;
  text-align: center;
}

#currentnumberlabel {
  position: absolute;
  top: 35%;
  left: 60%;
  transform: translate(-50%, -50%);
}

#faktorlabel {
  position: absolute;
  top: 50%;
  left: 44.5%;
  transform: translate(-50%, -50%);
}

#zwischenstandlabel {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
}

#scorelabel {
  position: absolute;
  top: 65%;
  left: 55%;
  transform: translate(-50%, -50%);
}

#livelabeltext {
  position: absolute;
  top: 92.5%;
  left: 75%;
  transform: translate(-50%, -50%);
}

#livelabel {
  position: absolute;
  top: 92.5%;
  left: 90%;
  transform: translate(-50%, -50%);
  background-color: #AB4E68;
}